* {
  box-sizing: border-box;
}

.main {
  font-family: "游ゴシック", "YuGothic";
  color: #808080;
}

/* 画面上部の帯部分 */
.top-image {
  width: 100%;
  object-fit: contain;
}

/* 新規ツイート */
.tweet-contents {
  width: 100%;
  margin: 20px;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 60px;
}

h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 2px #9c6952;
  border-bottom: solid 2px #9c6952;
}

h2:before {
  left:0;
}

h2:after {
  right: 0;
}

.title {
  margin-left: 5%;
  font-weight: bold;
}

.tweet-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.tweet-img {
  width: 33vh;
  height: 33vh;
  object-fit: cover;
  margin-right: 5%;
}

.tweet-img:nth-child(3n) {
  margin-right: 0;
}

/* いいねボタン */
.color {
  color: red;
}

/*投稿ボタン*/
.tweet-btn {
  width: 100px;
  background: #9c6952;
  text-align: center;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  position: fixed;
  padding: 11px;
}

.tweet-btn-text {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}

.tweet-btn-icon {
  width: 42%;
}

.tweet-btn:hover {
  background:#9c6a5296;
}