* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover{
  color : #9c6a5296;
}

.main {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  font-family: "游ゴシック", "YuGothic";
}

.contents-row{
  background-color: #fdf5e6;
  width: 55vw;
  min-width: 450px;
  margin: 30px 0;
  padding: 5vh 5vw 5vh;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

/*共通*/
.weight-bold-text {
  min-width: 170px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.select-box-pet, .select-box-gender, .tweets-text, .select-box-age {
  border: none;
  border-bottom: 2px solid  #9c6952;
}

.select-box-pet, .select-box-gender, .select-box-age {
  width: 30%;
  height: 40px;
  margin: 20px 0 0 30px;
  padding: 5px;
  display: block;
  color: #808080;
}

.indispensable {
  color: #808080;
  font-weight: bold;
}

/*投稿画像*/
.img-upload {
  display: flex;
  justify-content: space-between;
}

#tweet-image {
  width: 280px;
  margin: 0 0 0 auto;
  border: none;
  outline: none;
}

/*詳細*/
.tweets-text {
  width: 100%;
  height: 200px;
  padding: 5px;
  margin-top: 15px;
  display: block;
}

/*投稿ボタン*/
.sell-btn-contents {
  width: 100%;
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-around;

}

.sell-btn {
  flex-basis: 60%;
}

/* topボタン */
.back-btn {
  max-width: 65px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  line-height: 50px;
  font-size: 10px;
  bottom: 32px;
  right: 32px;
  padding: 5px;
  position: fixed;
  border: none;
  background: #9c6952;
  color: white;
}

.back-btn:hover {
  background:#9c6a5296;
  color: white;
}
