/* 全体 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #696969;
}

a:hover{
  color : #9c6a5296;
}

.tweet-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  color: #696969;
}

/* 画像、テキスト */
.tweet-box {
  display: flex;
  font-size: 15px;
  padding: 0 30px;
}

.tweet-explain-box1 {
  width: 50%;
  margin-left: 20px;
  position: relative;
  box-sizing: border-box;
}

/* 画像 */
.tweet-box-img {
  width: 50%;
  height: 450px;
  object-fit: contain;
}

/* 画像横のテキスト */
.tweet-text {
  width: 80%;
  padding-top: 30px;
  overflow-wrap: break-word;
}

.tweet-time {
  padding: 10px 0 10px 0;
  font-size: 10px;
}

/* コメント */
.comment-area {
  box-sizing: border-box;
}

h4 {
  margin-bottom: 0;
  font-weight: normal;
}

.comment-list {
  border-top: 2px dotted #9c6a5296;
  border-bottom: 2px dotted #9c6a5296;
  width: 80%;
  height: 150px;
  overflow: scroll;
}

.comment-text {
  margin-top: 10px;
  padding: 1vw;
  width: 60%;
  height: 5vh;
  border: none;
  background-color: #f5f5f5;
}

.post-btn {
  display: block;
}

/* 投稿詳細のテーブル */
.tweet-explain-box2 {
  width: 100%;
  padding-top: 20px;
  align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.detail-table {
  margin-left: 40px;
}

table{
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  border-bottom: 2px solid #9c6a5296;
}

/* 削除、編集ボタン */
.tweet-explain-box3 {
  width: 40%;
  height: 100%;
  padding: 20px 0 0 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

/* 削除ボタン */
.tweet-destroy, .tweet-edit {
  border: none;
  border-bottom: 2px solid #9c6a5296;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  margin-bottom: 7px;
  text-align: center;
  background-color: #f5f5f5;
}

.tweet-destroy :active, .tweet-edit :active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* topボタンはtweet/showと同じ */