/* 全体 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover{
  color : #9c6a5296;
}

.tweet-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  color: #696969;
}

/* 画像、テキスト */
.tweet-explain-box1 {
  width: 25vw;
  margin:2em 0;
  position: relative;
}

.tweet-box {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* 画像 */
img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

/* 画像横のテキスト */
.tweet-text {
  padding: 30px 20px;
}

.tweet-time {
  padding: 10px;
  font-size: 10px;
}

/* 投稿詳細のテーブル */
.tweet-explain-box2 {
  width: 80%;
  padding: 20px;
  font-size: 10px;
  align: left;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

table{
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  border-bottom: 2px solid #9c6a5296;
}

/* 削除、編集ボタン */
.tweet-explain-box3 {
  width: 40%;
  height: 100%;
  padding: 20px 0 0 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

/* 削除ボタン */
.tweet-destroy, .tweet-edit {
  border: none;
  border-bottom: 2px solid #9c6a5296;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  margin-bottom: 7px;
  text-align: center;
  background-color: #f5f5f5;
}

.tweet-destroy :active, .tweet-edit :active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* topボタン */
.back-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9c6a5296;
  color: #9c6a5296;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.back-btn:hover {
  background-color: #9c6a5296;
  border-color: #9c6a5296;
  color: #FFF;
}