/* 全体 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #696969;
}

a:hover{
  color : #9c6a5296;
  font-weight: bold;
}

.tweet-show {
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: 10px;
  color: #696969;
}

/* 左側（画像、テーブル） */
.tweet-left-box {
  width: 50%;
  text-align: center;
}

.tweet-box-img {
  width: 80%;
  height: 450px;
  object-fit: contain;
}

/* テーブル */
table{
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #9c6952;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #9c6952;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

/* 右側（テキスト、コメント） */
.tweet-right-box {
  width: 50%;
  text-align: left;
}

.tweet-text {
  font-size: 15px;
  width: 80%;
  padding-top: 30px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

/* コメント */
h4 {
  font-size: 15px;
  margin-bottom: 0;
}

.comment-list {
  border-top: 2px dotted #9c6a5296;
  border-bottom: 2px dotted #9c6a5296;
  width: 80%;
  height: 200px;
  overflow: scroll;
  font-size: 10px;
}

/* コメント投稿 */
.post-comment {
  width: 80%;
  margin-top: 10px;
}

.comment-text {
  width: 100%;
  height: 5vh;
  border: none;
  background-color: #f5f5f5;
}

.comment-post-btn {
  display: block;
  width: 20%;
  background: #9c6952;
  border: none;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}

/* 編集、削除ボタン */
.under-btn {
  width: 80%;
}

.tweet-destroy, .tweet-edit {
  display: inline-block;
  width: 15%;
  background: #9c6952;
  border: none;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.tweet-destroy:hover, .tweet-edit:hover, .comment-post-btn:hover, .comment-post-btn:hover {
  background-color: #9c6a5296;
}