<%# cssは投稿詳細のものを併用。
app/assets/stylesheets/tweets/new.css %>

<%# ヘッター %>
<%= render 'shared/header' %>

<%# 詳細 %>
<div class='main'>

  <div class='contents-row'>
    <h2 class='tweets-sell-title'>編集する</h2>

  <%= render 'shared/tweet' %>

  </div>
</div>

<%# フッター %>
<%= render 'shared/footer' %>