<%# ヘッター %>
<%= render "shared/header" %>
<div class='main'>

  <div class="contents-row">
    <h2 class="tweets-sell-title">新規投稿</h2>

  <%= render 'shared/tweet' %>

  </div>

</div>

<%# フッター %>
<%= render "shared/footer" %>
