.field_with_errors, .login-flash-message {
  display: contents;
  white-space: nowrap
}

.error-message, .login-flash-message {
  max-width: 80%;
  text-align:left;
  color:#ff6347;
  font-weight: bold;
}
