.contents.row {
  margin: 50px 250px;
}

.container {
  margin: 20px 0;
  padding: 5vh 5vw 5vh;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: #fdf5e6;
  box-sizing: border-box;
}

.container {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #808080;
}

h2 {
  color: #808080;
  font-size: 25px;
}

.field {
  font-weight: bold;
  margin-top: 10px;
}

form input {
  width: 60%;
  margin: 5px 0 15px;
  border: none;
  border-bottom: 2px solid  #9c6952;
  font-family: "游ゴシック", "YuGothic";
}

.login-btn {
  width: 50%;
  margin: 0 auto;
}

.login-brown-btn {
  width: 100%;
  background: #9c6952;
  border: none;
  color: #fff;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}

.login-brown-btn:hover {
  background-color: #9c6a5296;
}